

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    padding: 30px;
    background: rgba(196, 194, 194, 0.9);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.signup-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.signup-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box {
    position: relative;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 35px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
}

::placeholder {
    font-weight: 500;
    color: #2b2b2b;
}

.input-field:focus {
    width: 105%;
}

.input-submit {
    position: relative;
    margin-bottom: 20px;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}

.sign-in-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-in-link a {
    color: #000;
    font-weight: 600;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.social-icons a {
    width: 60px;
    height: 60px;
    background: #4e4d4d;
    border-radius: 50%;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    transition: .5s;
}

.social-icons a:hover {
    background: #000;
}
